// User variables:

// var colors

:root {
  --font-accent: 'Roboto', sans-serif;
  --accent: #111111;
  --second-color: #757575;
  --btn-color: var(--accent);
  --btn-text: var(--white-color);
  --btn-text-second: var(--second-color);
  --bg-color: #FFFFFF;
  --bg-second-color: #F5F5F5;
  --light-color: #7E7E7E;
  --border-color: #E5E5E5;
  --black-color: #111111;
  --white-color: #FFFFFF;
  --text: #111111;
  --title: #111111;
  --invalid-color: #9E3500FF;
  --valid-color: #4CB474;
  --placeholder-color: #F5F5F5;

  --transition: .2s linear;
  --brs: 20px;
  --brs-sm: 10px;
  --gap: 30px;
  --yellow-color: #FCFF5A;

  --pt-100: 100px;
  --accent-gradient: linear-gradient(0deg, #EDF8F4 0%, rgba(237, 248, 244, 0) 100%);
  --main-box-shadow: 0px 14px 54px 0px #00000017;
}

