:host {
  width: fit-content;
}

.as-button {
  background-color: transparent;
  font-family: var(--font-accent);
  color: var(--btn-text);
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  overflow: hidden;
  padding: 7px 21px;
  position: relative;
  width: auto;
  line-height: 1.5;
  border-radius: 30px;
  min-width: 80px;
  border: 1px solid transparent;

  &__content {
    text-align: center;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_primary {
    background-color: var(--btn-color);
    color: var(--white-color);
  }

  &_secondary {
    background-color: transparent;
    border-color: var(--border-color);
    color: var(--text);
  }

  &_tertiary {
    background-color: transparent;
    border-color: var(--accent);
    color: var(--accent);
  }

  //&_large {
  //  padding: 20px 26px;
  //  font-size: 22px;
  //}
  //
  //&_medium {
  //  padding: 14px 20px;
  //  font-size: 18px;
  //}
  //
  //&_small {
  //  padding: 8px 14px;
  //  font-size: 14px;
  //}

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}
